
.navbar {
    height: 70px;
    background-color: #373737 !important;
}

.dropdown {
    height: 40px;
    width: 200px;
}

// active dropdown
#dropdown-basic:hover {
    outline: 1px #0D8B7F;
    background-color: #262626;
}

#dropdown-basic::after {
    display: none;
}

#dropdown-basic {
    padding: 12px;
    background-color: #303030;
    border-radius: 4px;
    border: 0px;
}

#icon-down-arrow {
    // flex to the right
    float: right;
}

#dropdown-title {
    // flex to the left
    float: left;
    font-size: 0.86rem;
    font-weight: 630;

    // align vertically
    justify-content: center;
}

@media screen and (max-width: 382px) {
    .dropdown {
        width: 100%;
    }

    #dropdown-title {
        font-size: 0.66rem;
    }

    #icon-down-arrow {
        // flex to the right
        display: none;
    }
}


@media screen and (max-width: 260px) {
    .dropdown {
        display: none;
    }
}